{% if fn('is_front_page') %}

  <div class="boxes"> 
 
    <div class="box">
        <h2>{{ welcome.content_left_header }}</h2>
        <p>{{ welcome.content_block_left }}</p>
    </div>

    <div class="box">
      <h2>{{ welcome.content_center_header }}</h2>
      <p>{{ welcome.content_block_center }}</p>
    </div>

    <div class="box">
     <h2>{{ welcome.content_right_header }}</h2>
      <p>{{ welcome.content_block_right }}</p>
    </div>

  </div>


{% endif %}
